body {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
}
.article {
  width: 25%;
}
.article-number {
  margin-bottom: 20px;
  color: #0AD9C6;
  font-size: 1.5rem;
  font-weight: 700;
}
.article-title {
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 700;
}
.article-content {
  color: #7A7A7A;
  font-size: 1rem;
  font-weight: 300;
}
