<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LAYOUT 2</title>
  <link rel="stylesheet" href="./css/layout-2.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <div class="header-content">Header</div>
    </header>
    <main>
      <div class="main-content">App</div>
    </main>
    <aside>
      <div class="aside-content">Aside</div>
    </aside>
    <footer>
      <div class="footer-content">Footer</div>
    </footer>
  </div>
</body>
</html>
