<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LAYOUT 1</title>
  <link rel="stylesheet" href="./css/layout-1.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <nav>
      <div class="nav-content">Navbar</div>
    </nav>
    <aside>
      <div class="aside-content">Sidebar</div>
    </aside>
    <main>
      <div class="main-content">
        <div>APP</div>
        <div>(Auto width)</div>
      </div>
    </main>
    <footer>
      <div class="footer-content">Footer</div>
    </footer>
  </div>
</body>
</html>
